.event-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.input-field {
    width: 450px;
    height: 40px;
}

.text-field {
    width: 450px;
    height: 120px;
}

.event-text {
    margin-top: 45px;
}

.event-text img {
    width: 18px;
    margin-right: 10px;
}

.add-event {
    color: cornflowerblue;
}